:root {
  --accent-color: hsl(47, 97%, 51%);
  --accent-color-light: hsl(47, 97%, 61%);
  --secondary-color: hsl(0, 0%, 100%);

  --primary-color: hsl(267, 81%, 18%);
  --primary-color-light: hsl(266, 100%, 50%);
  --bg-color: hsl(0, 0%, 98%);

  --max-section-width: 65rem;
}